
env:
  es6: true
  browser: false
  node: true

rules:
  array-bracket-spacing: [2, never]
  block-spacing: [2, always]
  comma-dangle: [1, never]
  comma-spacing: [2, {before: false, after: true}]
  comma-style: [2, last]
  no-unreachable: 2

strict: 1
