html, body {
  width:98%;
  height:100%;
  margin:0px;
  padding:0px;
  border:none;
  position:absolute;
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  font-family: Fira Code, 'Fira Code', sans-serif;
  }
body {
  background-color: var(--background-color, #2d2d2d);
  color: var(--color, #eee);
  font-family: var(--font-family,"'Segoe WPC','Segoe UI',SFUIText-Light,HelveticaNeue-Light,sans-serif,'Droid Sans Fallback'");
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}
#messages {
  margin-top: 15px;
  color: #eee;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1px;
}
.vscode-light #messages {
  margin-top: 15px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1px;
  color: #252A2E
}
#stdout {
  margin-top: 15px;
  margin-top: 15px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1px;
  padding-left: 4pt;
}
#error {
  margin-top: 15px;
  color: #EB3349;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1px;
}
.hidden {
  display: none;
}

.prettifySymbolsMode span .substitution::before {
  content: attr(subst);
  font-size: 1000em;
}
.prettifySymbolsMode span .substitution {
  content: attr(subst);
  font-size: 0.001em;
}

.hypotheses {
  border-bottom: 1pt solid #495057;
  padding: 0pt;
  padding-bottom: 1em;
}
.vscode-light .hypotheses {
  border-bottom-color: black;
}
.hypotheses .hypothesis .rel {
  margin-right: 1ex;
  margin-left: 3pt;
}
.hypotheses .hypothesis .ident {
  font-weight: normal !important;
  color: #91a7ff;
}
.vscode-light .hypotheses .hypothesis .ident {
  color: darkgreen;
}
.hypotheses .hypothesis > ul {
  list-style-type: none;
  display: block;
  margin-left: 0pt;
  padding-left: 0pt;
  text-indent: 0pt
}
.hypotheses > li {
  list-style-type: none;
  display: block;
  padding-left: 0pt;
  text-indent: 0pt
}
.hypotheses li:nth-child(odd) {
  background-color: rgba(255,255,255,0.04)
}
.hypotheses .new {
  background-color: rgba(0,255,0,0.09) !important;
}
.hypotheses .changed {
  background-color: rgba(0,0,255,0.15) !important;
}
.vscode-light .hypotheses li:nth-child(odd) {
  background-color: rgba(0,0,0,0.02)
}
.vscode-light .hypotheses .new {
  background-color: rgba(00,170,00,0.25) !important;
}
.vscode-light .hypotheses .changed {
  background-color: rgba(0,0,255,0.05) !important;
}
.hypothesis {
  white-space: nowrap;
}
.breakText {
  white-space: pre;
}
.noBreakText .expr {
  white-space: nowrap;
}
.noBreakText .ident {
  text-decoration: underline;
}
/*.noBreakContainedText .breakText {
  white-space: normal;
}*/
/*.noBreakContainedText .breakText .hypLine:before {
  content: ' ';
}*/
/*.noBreakContainedText,.breakContainedText  {
  opacity: 1;
}*/
.goal .goalId {
  color: #495057;
  /*display: block;*/
  margin-right: 1ex;
}
.vscode-light .goal .goalId {
  color: darkblue;
}
.goal .goalId:before {
  content: '(';
}
.goal .goalId:after {
  content: ')';
}
.goal {
  list-style-type: none;
  white-space: pre;
}
.goal .expr {
  display: block;
}
.hypotheses .new .ident {
  font-weight: bold;
}
.hypotheses .changed .ident {
  font-style: italic;
}
.charsAdded {
  color: #40c057;
  background-color: rgba(64, 192, 87, .2);
  /* font-style: italic; */
}
span[class~=charsAdded][class~=substitution]::before {
  background-color: rgba(0,250,0,0.1);
  font-style: italic;
}
.charsRemoved {
  background-color: #f03e3e;
  text-decoration: line-through;
}
span[class~=charsRemoved][class~=substitution]::before {
  background-color: #f03e3e;
  text-decoration: line-through;
}

.vscode-light .charsAdded {
  background-color: rgba(0,250,0,0.2);
}
.vscode-light span[class~=charsAdded][class~=substitution]::before {
  background-color: rgba(0,250,0,0.2);
}
.vscode-light .charsRemoved {
  background-color: rgba(250,0,0,0.2);
}
.vscode-light span[class~=charsRemoved][class~=substitution]::before {
  background-color: rgba(250,0,0,0.2);
}
/*.vscode-light .hypotheses .expr .charsAdded {
  color: rgba(0,180,0,1);
} */
/*.goal .expr .charsAdded {
  color: lightgreen;
}
.vscode-light .goal .expr .charsAdded {
  color: rgba(0,180,0,1);
}*/

.hypothesese, .hypothesis, .goal, #stdout, #textMeasurer, #measureTest {
  font-family: var(--code-font-family);
  font-weight: var(--code-font-weight);
  font-size: var(--code-font-size);
}

.goalsList {
  margin-left: 0;
  padding-left: 0;
}
.goalsList li:first-child {
  background-color: inherit;
  border-top: 0pt;
}
.goalsList li {
  border-top: 1pt solid gray;
  padding-bottom: 1em;
  background-color: rgba(80,80,80,0.25);
}
.vscode-light .goalsList li:first-child {
  background-color: inherit;
}
.vscode-light .goalsList li {
  border-top-color: gray;
  background-color: rgba(200,200,200,0.5);
}
.goalsList li:last-child {
  padding-bottom: 0em;
}
#measureTest {
  display: none;
}

#toolbar {
  display: block;
  height: 1em;
}
#toolbar button {
  background: none;
  border: 1px solid #017acc;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  border-radius: 2px;
  min-width: 1.5em;
  background-color: #017acc;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.4pt;
  cursor: pointer;
  outline: none;
  padding: 4px 8px;
  font-size: 0.6em;
  margin: 2px 0 4px;
  margin-right: 3px;
}

.vscode-dark .richpp .constr-notation {
  color: #ffd43b;
}
.vscode-dark .richpp .constr-keyword {
  color: cornflowerblue;
}
.vscode-dark .richpp .constr-evar {
  color: #ffd43b;
  font-style: italic;
}
.vscode-dark .richpp .constr-keyword {
  color: cornflowerblue;
}
.vscode-dark .richpp .constr-path {
  color: mediumpurple;
}
.vscode-dark .richpp .constr-reference {
  color: #eee;
}
.vscode-dark .richpp .constr-type {
  color: lightcoral;
}
.vscode-dark .richpp .constr-variable {
  color: #40c057;
}
.vscode-dark .richpp .message-debug {
  color: mediumpurple;
}
.vscode-dark .richpp .message-error {
  color: #f03e3e;
  text-decoration: underline;
}
.vscode-dark .richpp .message-warning {
  color: #fcc419;
}
.vscode-dark .richpp .module-keyword {
  color: cornflowerblue;
}
.vscode-dark .richpp .tactic-keyword {
  color: cornflowerblue;
}
.vscode-dark .richpp .tactic-primitive {
  color: cadetblue;
}
.vscode-dark .richpp .tactic-string {
  color: orange;
}


.vscode-light .richpp .constr-notation {
  color: #ffd43b;
}
.vscode-light .richpp .constr-keyword {
  color: cornflowerblue;
}
.vscode-light .richpp .constr-evar {
  color: #ffd43b;
  font-style: italic;
}
.vscode-light .richpp .constr-keyword {
  color: cornflowerblue;
}
.vscode-light .richpp .constr-path {
  color: mediumpurple;
}
.vscode-light .richpp .constr-reference {
  color: limegreen;
}
.vscode-light .richpp .constr-type {
  color: lightcoral;
}
.vscode-light .richpp .constr-variable {
  color: #91a7ff;
}
.vscode-light .richpp .message-debug {
  color: mediumpurple;
}
.vscode-light .richpp .message-error {
  color: #f03e3e;
  text-decoration: underline;
}
.vscode-light .richpp .message-warning {
  color: goldenrod;
}
.vscode-light .richpp .module-keyword {
  color: cornflowerblue;
}
.vscode-light .richpp .tactic-keyword {
  color: cornflowerblue;
}
.vscode-light .richpp .tactic-primitive {
  color: cadetblue;
}
.vscode-light .richpp .tactic-string {
  color: orange;
}

#togglePrettifySymbols {
  text-decoration: line-through;
}
.prettifySymbolsMode #togglePrettifySymbols {
  text-decoration: none
}
